<p id="notice"><%= notice %></p>

<h1 class="text-center"><small class="lead">EVENT </small><%= @event.name %></h1>
<blockquote class="blockquote mt-4">
	<p class="lead text-center"><mark><%= @event.description %></mark></p>
</blockquote>

</blockquote>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
