<!DOCTYPE html>
<html>
  <head>
    <title>Wannajoin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLEMAPS_API_TOKEN']%>&libraries=places"></script>
  </head>
  <body class="<%= controller_name %>">

    <%= render partial: "layouts/header" %>

    <div class="main-content">
      <%= show_header %>
      <%= yield %>

      <% render :partial => "flash/flash" %>

      <div class="pd-6">
        <%= render partial: "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
