<!DOCTYPE html>
<html>
  <head>
    <title>Wannajoin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLEMAPS_API_TOKEN']%>&libraries=places"></script>
  </head>
  <body>

    <%= render partial: "layouts/header" %>
    <div class="main-content">
      <%= show_header %>
      <%= yield %>
    </div>

  </body>
</html>
