<!DOCTYPE html>
<html>
  <head>
    <title>Wannajoin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render :partial => "devise/sessions/modal_login" %>
    <%= render partial: "layouts/header" %>

    <div class="main-content">
      <section class="search">
        <div class="container">
          <div class="looking-for">
            <h1>Lorem ipsum dolor <br/> consectetur adipiscing elit</h1>
          </div>

          <div class="col-sm-12">
            <%= render :partial => "layouts/search_bar" %>
          </div>
        </div>
      </section>

      <%= yield %>
    </div>
  </body>
</html>
